<template>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5">
                <div class="card shadow">
                    <div class="card-header p-0">
                        <img src="https://img.freepik.com/premium-vector/sign-page-abstract-concept-vector-illustration_107173-25670.jpg"
                            class="card-img-top" alt="img">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            &copy;Smart Phone Shop
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 container">
                <div class="card shadow">
                    <div class="card-header bg-primary">
                        <h5 class="text-white">
                            <i class="bi bi-person-circle p-2"></i>Sign In
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-success">
                        <form @submit.prevent>

                            <div class="mb-2">
                                <label for="" class="form-label">Email</label>
                                <input type="email" v-model="userForm.email" class="form-control" placeholder="email"
                                    required>
                            </div>
                            <span class="text-danger" v-for="error in v$.email.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <label for="" class="form-label">Password</label>
                                <input type="password" v-model="userForm.password" class="form-control"
                                    placeholder="password" required>
                            </div>
                            <span class="text-danger" v-for="error in v$.password.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="row justify-content-end">
                                <div class="col-md-2">
                                    <div class="mb-2 mt-4">
                                        <button type="submit" @click="submitForm" class="btn btn-primary shadow">
                                            Sign in
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                        </p>

                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <hr class="my-0" style="margin-right: 12px;">
                            </div>
                                <p class="text-body text-center">
                                Already have an account?
                                <router-link :to="{ name: 'signup' }"
                                    class="text-decoration-none font-weight-bolder"><i class="bi bi-person-circle p-2"></i>Sign Up</router-link>
                            </p>
                            <div class="flex-grow-1">
                                <hr class="my-0" style="margin-left: 12px;">
                                </div>
                            </div>
                        

                        <div class="mb-2 text-center">
                            <span class="text-danger">
                                {{ errorUser.userNotFound }}
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import axios from "axios";
import { reactive, computed } from "vue";
import { required, email } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";
import router from "@/router";

const state = reactive({
  name: "/",
});
const userForm = reactive({
  email: "",
  password: "",
});

//Error message
const errorUser = reactive({
  userNotFound: "",
});

const rules = computed(() => {
  return {
    email: { required, email },
    password: { required },
  };
});

const v$ = useVuelidate(rules, userForm);

const submitForm = async () => {
  const result = await v$.value.$validate();
  if (result) {
    const result = await axios.get(
      `http://localhost:8080/users?email=${userForm.email}&password=${userForm.password}`
    );
    console.log(result);
    if (result.status == 200 && result.data.length > 0) {
      localStorage.setItem("user-info", JSON.stringify(result.data[0]));
      // console.log("Logged In")
      alert("Success, from submitted");
      errorUser.userNotFound = "User Found";
      router.push(state.name);
    } else {
      // console.log("No User Found")
      alert("Error, from submitted");
      errorUser.userNotFound = "No User Found";
    }
  } else {
    alert("Error, from submitted");
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

.form-label {
  font-family: "Sarabun", sans-serif;
}

.btn {
  font-family: "Sarabun", sans-serif;
}
</style>