<template>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-5">
                <div class="card shadow">
                    <div class="card-header p-0">
                        <img src="https://img.freepik.com/free-vector/sign-up-concept-illustration_114360-7965.jpg"
                            class="card-img-top" alt="img">
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            &copy;Smart Phone Shop
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 container">
                <div class="card shadow">
                    <div class="card-header bg-primary">
                        <h5 class="text-white">
                            <i class="bi bi-person-circle p-2"></i>Sign Up
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text text-success">

                        <form @submit.prevent>
                            <div class="mb-2">
                                <label for="" class="form-label">First Name</label>
                                <input type="text" v-model="userForm.fname" class="form-control" placeholder="first name"
                                    required>
                            </div>
                            <span class="text-danger" v-for="error in v$.fname.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <label for="" class="form-label">Last Name</label>
                                <input type="text" v-model="userForm.lname" class="form-control"
                                    placeholder="last name" required>
                            </div>
                            <span class="text-danger" v-for="error in v$.lname.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <label for="" class="form-label">Email</label>
                                <input type="email" v-model="userForm.email" class="form-control" placeholder="email"
                                    required>
                            </div>
                            <span class="text-danger" v-for="error in v$.email.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <label for="" class="form-label">Password</label>
                                <input type="password" v-model="userForm.password" class="form-control" placeholder="password"
                                    required>
                            </div>
                            <span class="text-danger" v-for="error in v$.password.$errors" :key="error.$uid" v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="mb-2">
                                <label for="" class="form-label">Confirm Password</label>
                                <input type="password" v-model="userForm.confirmpassword" class="form-control"
                                    placeholder="confirm password" required>
                            </div>
                            <span class="text-danger" v-for="error in v$.confirmpassword.$errors" :key="error.$uid"
                                v-if="true">
                                {{ error.$message }}
                            </span>

                            <div class="row justify-content-end">
                                <div class="col-md-2">
                                    <div class="mb-2 mt-4">
                                        <button type="submit" @click="submitForm" class="btn btn-primary shadow">
                                            Sign Up
                                        </button>
                                    </div>
                                </div>
                            </div>

                        </form>
                        </p>
                        <div class="d-flex align-items-center">
                            <div class="flex-grow-1">
                                <hr class="my-0" style="margin-right: 12px;">
                            </div>
                                <p class="text-body text-center">
                                Already have an account?
                                <router-link :to="{ name: 'signin' }"
                                    class="text-decoration-none font-weight-bolder"><i class="bi bi-person-circle p-2"></i>Sign in</router-link>
                            </p>
                            <div class="flex-grow-1">
                                <hr class="my-0" style="margin-left: 12px;">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script setup>
import axios from "axios";
import { reactive, computed } from "vue";
import { required, email, sameAs, minLength } from "@vuelidate/validators";
import { useVuelidate } from "@vuelidate/core";
import router from "@/router";

const state = reactive({
  // redirectTo:"/"
  name: "signin",
});

const userForm = reactive({
  fname: "",
  lname: "",
  email: "",
  password: "",
  confirmpassword: "",
});

const rules = computed(() => {
  return {
    fname: { required },
    lname: { required },
    email: { required, email },
    password: { required, minLength: minLength(4) },
    confirmpassword: { required, sameAs: sameAs(userForm.password) },
  };
});

const v$ = useVuelidate(rules, userForm);

const submitForm = async () => {
  const result = await v$.value.$validate();
  if (result) {
    alert("Success, from submitted");
    const result = await axios.post(`http://localhost:8080/users`, {
      fname: userForm.fname,
      lname: userForm.lname,
      email: userForm.email,
      password: userForm.password,
      // confirmpassword: userForm.confirmpassword,
    });

    if (result.status == 201) {
      console.log("Logged In ,Success");
      localStorage.setItem("user-info", JSON.stringify(result.data));
      console.log(result.data);
      console.log(JSON.stringify(result.data));
      router.push(state.name);
    } else {
      console.log("Logged In ,Not Success");
    }
  } else {
    alert("Error, from submitted");
  }
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");
.form-label {
  font-family: "Sarabun", sans-serif;
}
.btn {
  font-family: "Sarabun", sans-serif;
}
</style>