<script setup>
</script>

<template>
  <div class="container my-5">
    <div class="row">
      <!-- เพิ่มรายการที่ 1 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/364453/Samsung-Galaxy-S24-Clear-Gadget-Transparency-5-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">
              เคส Samsung Galaxy S24 Ultra Clear Gadget Transparency
            </h5>
            <br />
            <a class="btn btn-danger"
            href="https://www.bnn.in.th/th/p/samsung-accessory-case-clear-gadget-s24-ultra-5g-transparency-8806095426648_zpqyeo"
            target="_blank"
            >฿1,190</a>
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 1 -->

      <!-- เพิ่มรายการที่ 2 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/367020/samsung-case-flipsuit-s24-plus-5g-white-4-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">เคส Samsung Galaxy S24+ Flipsuit White</h5>
            <br />
            <a class="btn btn-danger"
            href="https://www.bnn.in.th/th/p/samsung-accessory-case-flipsuit-s24-5g-white-8806095498508_zomw56"
            target="_blank"
            >฿1,190</a>
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 2 -->

      <!-- เพิ่มรายการที่ 3 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/365637/S24-Toilet-Paper-Lipstick-Plate-Blue----2-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">
              เคส Samsung Galaxy S24 NFC Plate Toilet Paper Lipstick Plate Blue
            </h5>

            <a class="btn btn-danger"
            href="https://www.bnn.in.th/th/p/samsung-accessory-case-nfc-plate-s24-5g-toilet-paper-lipstick-plate-blue-8809902082211_dn39y6"
            target="_blank"
            >฿490</a>
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 3 -->

      <!-- เพิ่มรายการที่ 4 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/286889/Samsung-Accessory-Case-Card-Slot-Case-A34-5G-3-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">เคส Samsung Galaxy A34 Card Slot Lime</h5>
            <br />
            <a class="btn btn-danger"
            href="https://www.bnn.in.th/th/p/samsung-accessory-case-card-slot-case-a34-5g-lime-8806094920451_dl6mwm"
            target="_blank"
            >฿390</a>
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 4 -->
    </div>
  </div>

  <!-- ส่วนที่ 2 -->
  <div class="container my-5">
    <div class="row">
      <!-- เพิ่มรายการที่ 1 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/344744/Skinarma--1-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">เคส Skinarma iPhone 15 Pro Apex Black</h5>
            <p class="card-text">ประหยัดไป ฿360</p>
            <a class="btn btn-danger"
            href="https://www.bnn.in.th/th/p/skinarma-casing-for-iphone-15-pro-61-inch-apex-black-8886461244342_dy03xw"
            target="_blank"
            >฿830</a>
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 1 -->

      <!-- เพิ่มรายการที่ 2 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/333452/UAG-%E0%B9%80%E0%B8%84%E0%B8%AA-iPhone-15-Carbon-Fiber-3-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">เคส UAG iPhone 15 Plus Carbon Fiber</h5>
            <p class="card-text">ประหยัดไป ฿230</p>
            <a class="btn btn-danger"
            href="https://www.bnn.in.th/th/p/uag-casing-for-iphone-15plus-67-carbon-fiber-840283910142_r07wnn"
            target="_blank"
            >฿2,060</a>
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 2 -->

      <!-- เพิ่มรายการที่ 3 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/344244/Skinarma-01-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">เคส Skinarma iPhone 15 Apex Red</h5>
            <p><br /></p>
            <a class="btn btn-danger"
            href="https://www.bnn.in.th/th/p/skinarma-casing-for-iphone-15-pro-61-inch-apex-red-8886461244359_zj5qn7"
            target="_blank"
            >฿1,190</a>
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 3 -->

      <!-- เพิ่มรายการที่ 4 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/345535/Skinarma-01-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">
              เคส Skinarma iPhone 15 Pro Max Kira Kobai
            </h5>
            <p><br /></p>
            <a class="btn btn-danger"
            href="https://www.bnn.in.th/en/p/apple/other-brands-apple-accessories/other-brands-apple-accessories-case-and-protection-film/skinarma-casing-for-iphone-15-pro-max-67-inch-kira-kobai-8886461244564_z9x1l4"
            target="_blank"
            >฿1,390</a>
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 4 -->
    </div>
  </div>
  <!-- จบส่วนที่ 2 -->
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");
h5,
p {
  font-family: "Sarabun", sans-serif;
}
a {
  font-family: "Sarabun", sans-serif;
}
</style>