<script setup>

import ProductinHome from './AllProduct/ProductinHome.vue'
import SlideView from './AllProduct/SlideView.vue';
import AppleIphone from './AllProduct/AppleIphone.vue';
import XiaoMi from './AllProduct/XiaoMi.vue';
import ViVo from './AllProduct/ViVo.vue';
import OpPo from './AllProduct/OpPo.vue';

</script>

<template>
  <div class="bg-secondary-subtle">
    <slide-view/>
    <productin-home/>
    <apple-iphone/>
    <xiao-mi/>
    <vi-vo/>
    <op-po/>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');
h5,p {
  font-family: 'Sarabun', sans-serif;
}
a{
  font-family: 'Sarabun', sans-serif;
}

</style>