<script setup>
</script>

<template>
  <!-- ส่วนที่ 1 -->
  <div class="container my-5">
    <div class="row">
      <!-- เพิ่มรายการที่ 1 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/332626/iPhone_15_Pink_1-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">Apple iPhone 15 128GB Pink</h5>
            <br />
            <p class="card-text">ประหยัดไป ฿4,000</p>
            <a
              class="btn btn-danger"
              href="https://www.bnn.in.th/th/p/apple-iphone-15-128gb-pink-195949036255_zwejmp"
              target="_blank"
              >฿28,900</a
            >
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 1 -->

      <!-- เพิ่มรายการที่ 2 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/332557/iPhone_15_Plus_Blue_1-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">Apple iPhone 15 Plus 128GB Blue</h5>
            <p class="card-text">ประหยัดไป ฿4,700</p>
            <a
              class="btn btn-danger"
              href="https://www.bnn.in.th/th/p/apple-iphone-15-plus-128gb-blue-195949041280_dkeggq?pz_pid=584042117&gad_source=1&gclid=CjwKCAiArLyuBhA7EiwA-qo80AFH31FVD_qnPNMryVwksZYt_reXIDraI9VlJkAguXcSPy27TmrcFBoCLPgQAvD_BwE"
              target="_blank"
              >฿33,200</a
            >
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 2 -->

      <!-- เพิ่มรายการที่ 3 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/332525/iPhone_15_Pro_Blue_Titanium_1-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">Apple iPhone 15 Pro 128GB Blue Titanium</h5>
            <p class="card-text">ประหยัดไป ฿3,400</p>
            <a
              class="btn btn-danger"
              href="https://www.bnn.in.th/th/p/apple/apple-iphone/iphone-15-pro/apple-iphone-15-pro-128gb-blue-titanium-195949019128_zg30l3"
              target="_blank"
              >฿38,500</a
            >
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 3 -->

      <!-- เพิ่มรายการที่ 4 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/332492/iPhone_15_Pro_Max_Natural_Titanium_6-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">
              Apple iPhone 15 Pro Max 256GB Natural Titanium
            </h5>
            <p class="card-text">ประหยัดไป ฿2,000</p>
            <a
              class="btn btn-danger"
              href="https://www.bnn.in.th/th/p/apple-iphone-15-pro-max-256gb-natural-titanium-195949048623_dxn55e"
              target="_blank"
              >฿46,900</a
            >
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 4 -->
    </div>
  </div>
  <!-- จบส่วนที่ 1 -->
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

h5,
p {
  font-family: "Sarabun", sans-serif;
}

a {
  font-family: "Sarabun", sans-serif;
}
</style>