<script setup>

</script>

<template>
<!-- ส่วนที่ 1 -->
<div class="container my-5">
    <div class="row">

      <!-- เพิ่มรายการที่ 1 -->
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-header p-0">
                    <img src="https://down-th.img.susercontent.com/file/th-11134207-7r98v-lm8qr6hyoqo751"
                        class="card-img-top" alt="img">
                </div>
                <div class="card-body">
                    <h5 class="cart-title">OPPO A18 (4+128)</h5>
                    <br/>
                    <p class="card-text">27% ส่วนลด</p>
                    <a class="btn btn-danger"
                    href="https://www.bnn.in.th/th/p/oppo-smartphone-a18-4128-glowing-blue-5109230134bl_rq5g18"
                    target="_blank"
                    >฿3,888</a>
                </div>
            </div>
        </div>
        <!-- จบรายการที่ 1 -->

        <!-- เพิ่มรายการที่ 2 -->
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-header p-0">
                    <img src="https://down-th.img.susercontent.com/file/th-11134207-23020-nrahvyt8zbnv83"
                        class="card-img-top" alt="img">
                </div>
                <div class="card-body">
                    <h5 class="cart-title">OPPO Reno8 T 5G (8+128/8+256)</h5>
                    <p class="card-text">40% ส่วนลด</p>
                    <a class="btn btn-danger"
                    href="https://www.bnn.in.th/th/p/smartphone-and-accessories/smartphone/oppo-smartphone/oppo-smartphone-reno8t-8256-sunrise-gold-5g-5101230116gd_rq5yl2?ref=list"
                    target="_blank"
                    >฿9,999</a>
                </div>
            </div>
        </div>
        <!-- จบรายการที่ 2 -->

        <!-- เพิ่มรายการที่ 3 -->
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-header p-0">
                    <img src="https://down-th.img.susercontent.com/file/th-11134207-7r98u-ln9ze93ev774a2" class="card-img-top" alt="img">
                </div>
                <div class="card-body">
                    <h5 class="cart-title">OPPO Find N3 (16+512)</h5>
                    <br/>
                    <p class="cart-text">10% ส่วนลด</p>
                    <a class="btn btn-danger"
                    href="https://www.bnn.in.th/th/p/oppo-smartphone-find-n3-16512-champagne-gold-5110230140gd_dl6kok"
                    target="_blank"
                    >฿69,990</a>
                </div>
            </div>
        </div>
        <!-- จบรายการที่ 3 -->

        <!-- เพิ่มรายการที่ 4 -->
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-header p-0">
                    <img src="https://down-th.img.susercontent.com/file/th-11134207-7qul3-ljdyf9l75dw19f" class="card-img-top" alt="img">
                </div>
                <div class="card-body">
                    <h5 class="cart-title">Reno10 Pro+ 5G (12+256)</h5>
                    <br/>
                    <p class="card-text">10% ส่วนลด</p>
                    <a class="btn btn-danger"
                    href="https://www.bnn.in.th/th/p/oppo-smartphone-reno10-pro-12256-glossy-purple-5g-5107230127pp_d4x7k4"
                    target="_blank"
                    >฿27,990</a>
                </div>
            </div>
        </div>
        <!-- จบรายการที่ 4 -->
        
    </div>
</div>
<!-- จบส่วนที่ 1 -->

</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Sarabun&display=swap');

h5,p {
  font-family: 'Sarabun', sans-serif;
}

a{
  font-family: 'Sarabun', sans-serif;
}
</style>