<template>
  <div class="container my-5">
    <div class="row">
      <!-- เพิ่มรายการที่ 1 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/363371/Samsung--Galaxy-S24-ULTRA--TITANIUM-5G-8-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">
              Samsung Galaxy S24 ULTRA (12+256) TITANIUM (5G)
            </h5>
            <p class="card-text">
              6.8 inch | Snapdragon 8 Gen 3 | Android 14, One UI Core 6.1 |
              5,000 mAh | Warranty : 1 Year
            </p>
            <br />
            <a
              class="btn btn-danger"
              href="https://www.bnn.in.th/th/p/samsung-smartphone-galaxy-s24-ultra-12256-titanium-5g-8806095373430_dk0e7j"
              target="_blank"
              >฿46,900</a
            >
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 1 -->

      <!-- เพิ่มรายการที่ 2 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/363065/samsung-galaxy-s24-plus-violet-5g-1-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">Samsung Galaxy S24+ (12+256) Violet (5G)</h5>
            <p class="card-text">
              6.7 inch | Exynos 2400 | RAM 12GB / ROM 256GB | Android 14.0 One
              UI 6.1 | 4,900 mAh | Waterproof : IP68 | Warranty : 1 Year
            </p>
            <a
              class="btn btn-danger"
              href="https://www.bnn.in.th/th/p/smartphone-and-accessories/smartphone/samsung-smartphone/samsung-smartphone-galaxy-s24-12512-violet5g-8806095367040_dle6em?ref=search-result"
              target="_blank"
              >฿38,900</a
            >
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 2 -->

      <!-- เพิ่มรายการที่ 3 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/363197/Samsung-Galaxy-S24-5G-Yellow-7-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">Samsung Galaxy S24 (8+256) Yellow (5G)</h5>
            <p class="card-text">
              6.2 inch | Exynos 2400 | RAM 8GB / ROM 256GB | Android 14, One UI
              Core 6.1 | 4,000 mAh | Waterproof : IP68 | Warranty : 1 Year
            </p>
            <a
              class="btn btn-danger"
              href="https://www.bnn.in.th/th/p/samsung-smartphone-galaxy-s24-8256-yellow-5g-8806095368948_zpqyxe"
              target="_blank"
              >฿33,900</a
            >
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 3 -->

      <!-- เพิ่มรายการที่ 4 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://media-cdn.bnn.in.th/324148/Silver--1-square_medium.jpg"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">Samsung Galaxy A34 (8+256GB) Silver (5G)</h5>
            <p class="card-text">
              6.6 inch l RAM 8GB / ROM 128GB l Android 13, One UI 5.1 l 5,000
              mAh l Color : Light Violet l Warranty : 1 Year
            </p>
            <br />
            <a
              class="btn btn-danger"
              href="https://www.bnn.in.th/th/p/samsung-smartphone-galaxy-a34-8256gb-silver-5g-8806094835366_dl6w2n"
              target="_blank"
              >฿9,990</a
            >
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 4 -->
    </div>
  </div>
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

h5,
p {
  font-family: "Sarabun", sans-serif;
}

a {
  font-family: "Sarabun", sans-serif;
}
</style>