<template>
  <div
    id="carouselExampleSlidesOnly"
    class="carousel slide container mt-4"
    data-bs-ride="true"
  >
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <img
          class="w-100"
          src="https://www.kimstore.com/cdn/shop/articles/S24_Ultra_Banner.png?v=1705634996"
          alt="First slide"
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          class="w-100"
          src="https://i3-prod-assets.indiaistore.com/files/uploads/products/iphone-15-pro/iphone-15-new/1-d.jpg"
          alt="Second slide"
        />
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img
          class="w-100"
          src="https://dailyspokesman.net/live/wp-content/uploads/2023/10/PR-Banner-1.png"
          alt="Third slide"
        />
      </div>
    </div>
    <button
      type="button"
      class="carousel-control-prev"
      data-bs-slide="prev"
      data-bs-target="#carouselExampleSlidesOnly"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button
      type="button"
      class="carousel-control-next"
      data-bs-slide="next"
      data-bs-target="#carouselExampleSlidesOnly"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>
</template>

<script setup>
</script>