<script setup>
</script>

<template>
  <!-- ส่วนที่ 1 -->
  <div class="container my-5">
    <div class="row">
      <!-- เพิ่มรายการที่ 1 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://down-th.img.susercontent.com/file/th-11134207-7r98o-lktfped6xe8q44"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">vivo V29 5G (12GB+256/512GB)</h5>
            <p class="card-text">18% ส่วนลด</p>
            <a
              class="btn btn-danger"
              href="https://www.bnn.in.th/th/p/vivo-smartphone-v29-12512gb-starry-purple-5g-6935117874050_rq54k2"
              target="_blank"
              >฿15,999</a
            >
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 1 -->

      <!-- เพิ่มรายการที่ 2 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://down-th.img.susercontent.com/file/th-11134207-23030-woxluj9jpkov7d"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">vivo V27 5G (12GB+256)</h5>
            <br />
            <p class="card-text">45% ส่วนลด</p>
            <a class="btn btn-danger"
            href="https://www.lazada.co.th/products/vivo-v27-5g-12256gb-i4999473107-s21102010981.html?"
            target="_blank"
            >฿10,990</a>
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 2 -->

      <!-- เพิ่มรายการที่ 3 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://down-th.img.susercontent.com/file/th-11134207-7r98r-lohckjiy5hno43"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">vivo Y27s (8GB+256GB)</h5>
            <br />
            <p class="card-text">29% ส่วนลด</p>
            <a class="btn btn-danger"
            href="https://www.bnn.in.th/th/p/vivo-smartphone-y27s-8256gb-burgundy-black-6935117875606_dle48k"
            target="_blank"
            >฿6,999</a>
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 3 -->

      <!-- เพิ่มรายการที่ 4 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://down-th.img.susercontent.com/file/th-11134207-7r98y-llxbz4m3gwef67"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">vivo Y17s (6GB+128GB)</h5>
            <br />
            <p class="card-text">50% ส่วนลด</p>
            <a class="btn btn-danger"
            href="https://www.bnn.in.th/th/p/smartphone-and-accessories/smartphone/vivo-smartphone/vivo-smartphone-y17s-6128gb-glitter-purple-6935117874241_dy0w1v?ref=list"
            target="_blank"
            >฿4,999</a>
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 4 -->
    </div>
  </div>
  <!-- จบส่วนที่ 1 -->
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

h5,
p {
  font-family: "Sarabun", sans-serif;
}

a {
  font-family: "Sarabun", sans-serif;
}
</style>