<script setup>
</script>

<template>
  <!-- ส่วนที่ 1 -->
  <div class="container my-5">
    <div class="row">
      <!-- เพิ่มรายการที่ 1 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://down-th.img.susercontent.com/file/th-11134207-7r98z-lm5g1a8oi58nca"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">Xiaomi 13T Pro 12+512GB/16+1TB</h5>
            <p class="card-text">23% ส่วนลด</p>
            <a
              class="btn btn-danger"
              href="https://www.bnn.in.th/th/p/xiaomi-smartphone-13t-pro-161tb-black-5g-6941812744093_ze13o1"
              target="_blank"
              >฿19,990 - ฿23,990</a
            >
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 1 -->

      <!-- เพิ่มรายการที่ 2 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://down-th.img.susercontent.com/file/th-11134207-7qula-lk6i20c15vs6a4"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">Xiaomi Pad 6 8GB+128GB</h5>
            <br />
            <p class="card-text">45% ส่วนลด</p>
            <a
              class="btn btn-danger"
              href="https://shopee.co.th/-HOT-Xiaomi-Pad-6-8GB-128GB-8GB-256GB-%E0%B9%81%E0%B8%97%E0%B9%87%E0%B8%9A%E0%B9%80%E0%B8%A5%E0%B9%87%E0%B8%95-%E0%B8%AB%E0%B8%99%E0%B9%89%E0%B8%B2%E0%B8%88%E0%B8%AD-2.8K-Ultra-HD-%E0%B8%AA%E0%B8%B9%E0%B8%87%E0%B8%AA%E0%B8%B8%E0%B8%94-144Hz-%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%81%E0%B8%B1%E0%B8%99-15-%E0%B9%80%E0%B8%94%E0%B8%B7%E0%B8%AD%E0%B8%99-i.426143063.22976089501?sp_atk=0b3a5e59-84ff-45a0-a3e2-7c47a29bcca2&xptdk=0b3a5e59-84ff-45a0-a3e2-7c47a29bcca2"
              target="_blank"
              >฿10,990</a
            >
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 2 -->

      <!-- เพิ่มรายการที่ 3 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://down-th.img.susercontent.com/file/th-11134207-7qul6-li14nc7377df57"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">Xiaomi Redmi 12 8GB+128GB</h5>
            <br />
            <p class="card-text">5% ส่วนลด</p>
            <a
              class="btn btn-danger"
              href="https://www.bnn.in.th/th/p/smartphone-and-accessories/smartphone/xiaomi-smartphone/xiaomi-smartphone-redmi-12-8128-sky-blue-6941812739624_dmq22n"
              target="_blank"
              >฿5,299</a
            >
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 3 -->

      <!-- เพิ่มรายการที่ 4 -->
      <div class="col-md-3">
        <div class="card shadow">
          <div class="card-header p-0">
            <img
              src="https://down-th.img.susercontent.com/file/83c45039d36cfd03210289755b0f17a1"
              class="card-img-top"
              alt="img"
            />
          </div>
          <div class="card-body">
            <h5 class="cart-title">Xiaomi Pad 5 6+128GB</h5>
            <br />
            <p class="card-text">38% ส่วนลด</p>
            <a class="btn btn-danger"
            href="https://shopee.co.th/Xiaomi-Pad-5-6-128GB-6-256GB-%E0%B8%A3%E0%B8%B1%E0%B8%9A%E0%B8%9B%E0%B8%A3%E0%B8%B0%E0%B8%81%E0%B8%B1%E0%B8%99-15-%E0%B9%80%E0%B8%94%E0%B8%B7%E0%B8%AD%E0%B8%99-i.261589327.10551731330"
            target="_blank"
            >฿7,999</a>
          </div>
        </div>
      </div>
      <!-- จบรายการที่ 4 -->
    </div>
  </div>
  <!-- จบส่วนที่ 1 -->
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

h5,
p {
  font-family: "Sarabun", sans-serif;
}

a {
  font-family: "Sarabun", sans-serif;
}
</style>