<script setup>
import { RouterView } from "vue-router";
import NavbarView from "./views/layouts/NavbarView.vue";
import FooterView from "./views/layouts/FooterView.vue";
import { useHead } from "@unhead/vue";

import { reactive, computed } from "vue";

const siteData = reactive({
  title: "Smart Phone Shop",
  description: "Smart Phone Shop",
});

useHead({
  title: computed(() => siteData.title),
  meta: [
    {
      name: "Smart Phone Shop",
      content: computed(() => siteData.description),
    },
  ],
});
</script>

<template>
  <div class="bg-secondary-subtle">
    <navbar-view />
    <hr />
    <router-view />
    <hr />
    <footer-view />
  </div>
</template>
