<script setup>
import { RouterLink } from "vue-router";
import router from "@/router";

const logOut = async () => {
  localStorage.clear();
  await router.push({ name: "signin" });
};
</script>

<template>
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <router-link :to="{ name: 'home' }" class="navbar-brand"
        ><i class="bi bi-cart4 p-2"></i>Smart Phone Shop</router-link
      >
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <router-link :to="{ name: 'accessories' }" class="nav-link"
              ><i class="bi bi-basket p-2"></i>อุปกรณ์เสริม</router-link
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-archive p-2"></i>All Product
            </a>
            <ul class="dropdown-menu">
              <li>
                <router-link
                  :to="{ name: 'appleiphone' }"
                  class="dropdown-item"
                  href="#"
                  ><i class="bi bi-phone p-1"></i>Apple Iphone</router-link
                >
              </li>
              <li>
                <router-link
                  :to="{ name: 'xiaomi' }"
                  class="dropdown-item"
                  href="#"
                  ><i class="bi bi-phone p-1"></i>Xiaomi</router-link
                >
              </li>
              <li>
                <router-link
                  :to="{ name: 'vivo' }"
                  class="dropdown-item"
                  href="#"
                  ><i class="bi bi-phone p-1"></i>Vivo</router-link
                >
              </li>
              <li>
                <router-link
                  :to="{ name: 'oppo' }"
                  class="dropdown-item"
                  href="#"
                  ><i class="bi bi-phone p-1"></i>Oppo</router-link
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="bi bi-person-circle p-2"></i>User
            </a>
            <ul class="dropdown-menu">
              <li>
                <router-link
                  :to="{ name: 'signin' }"
                  class="dropdown-item"
                  href="#"
                  ><i class="bi bi-person-circle p-2"></i>Sign In</router-link
                >
              </li>
              <li>
                <router-link
                  :to="{ name: 'signup' }"
                  class="dropdown-item"
                  href="#"
                  ><i class="bi bi-person-circle p-2"></i>Sign Up</router-link
                >
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#" @click="logOut"
                  ><i class="bi bi-box-arrow-right p-2"></i>Sign Out</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</template>

<style>
@import url("https://fonts.googleapis.com/css2?family=Sarabun&display=swap");

.navbar {
  font-family: "Sarabun", sans-serif;
}
</style>